/Python/jluzh/.idea
/Python/jluzh/chrome
/Python/jluzh/venv
/Mod/GettingOverIt/GettingOverIt_Data/*.assets
/Mod/GettingOverIt/GettingOverIt_Data/*.resS
/Mod/GettingOverIt/GettingOverIt_Data/*.resource
/Mod/GettingOverIt/GettingOverIt_Data/level0
/Mod/GettingOverIt/GettingOverIt_Data/level1
/Mod/GettingOverIt/GettingOverIt_Data/level2
/Mod/GettingOverIt/GettingOverIt_Data/level3
/Mod/GettingOverIt/GettingOverIt_Data/globalgamemanagers
/Mod/GettingOverIt/GettingOverIt_Data/Mono
/Mod/GettingOverIt/GettingOverIt_Data/Plugins
/Mod/GettingOverIt/GettingOverIt_Data/Resources
/Mod/GettingOverIt/GettingOverIt_Data/app.info
/Mod/GettingOverIt/GettingOverIt_Data/boot.config
/Mod/GettingOverIt/GettingOverIt_Data/Managed/System.Xml.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/TextMeshPro-1.0.55.2017.1.0b11.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/UnityEngine.Analytics.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/UnityEngine.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/UnityEngine.dll.mdb
/Mod/GettingOverIt/GettingOverIt_Data/Managed/UnityEngine.Networking.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/UnityEngine.Timeline.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/UnityEngine.UI.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/Assembly-CSharp-firstpass.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/Assembly-UnityScript.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/Boo.Lang.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/LibTessDotNet.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/Mono.Security.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/mscorlib.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/Rewired_Core.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/Rewired_Windows_Lib.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/System.Core.dll
/Mod/GettingOverIt/GettingOverIt_Data/Managed/System.dll
/Mod/GettingOverIt/GettingOverIt.exe
